@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* General */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 200vh;
    height: auto;
    background-color: rgb(22, 22, 22);
    font-family: 'Barlow', sans-serif;
}

section {
    min-height: 100vh;
}

/* Navigation */
/* 
.menu-icon {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 10;
    cursor: pointer;
}

.menu-icon div {
    height: 0.25rem;
    background-color: var(--on-background);
    transition: 0.4s;
}
/* 
/* Rotate first bar */
/* .active .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
/* .active .bar2 { 
    opacity: 0;

}

/* Rotate last bar 
.active .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.nav-wrapper {
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #12813D;
}

nav {
    height: 100vh;
    color: var(--on-background);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 200px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    opacity: 0;

}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: center;
    height: 85%;
    font-size: 2rem;
}

nav ul li {
    margin: 1rem 0;
}

.active {
    transform: translateX(0);
}

#nav.active {
    opacity: 1;
}  */


/* Home Section SlideShow */
#home {
    display: grid;
    place-items: center;
}

.slideshow {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slideshow::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    pointer-events: none;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 2s;
}

.slideshow img.active {
    opacity: 1;
}

/* Title */

.page-title {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

.page-title h1 {

    color: white;
    font-size: 5rem;
    margin: 0;
    font-weight: 200;
}

/* scroll down animation */

.mouse {
    width: 40px;
    height: 80px;
    border: 3px solid whitesmoke;
    position: absolute;
    border-radius: 60px;
    bottom: 20px;
}

.mouse::before {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    left: 40%;
    transform: translatex(-50);
    background-color: white;
    opacity: 1;
    border-radius: 50%;
    animation: wheelAnimation 2s infinite;


}

@keyframes wheelAnimation {
    to {
        opacity: 0;
        top: 60%;
    }
}

/* About session -------------------------------------------*/

.about-container {
    display: grid;
    place-items: center;
}

.about-grid {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: auto;
grid-gap: 5px;
width: 50vw;
color: white;


.box1 { grid-area: 1 / 1 / 3 / 3; }
.box2 { grid-area: 3 / 1 / 5 / 2; }
.box3 { grid-area: 3 / 2 / 5 / 3; }
.box4 { grid-area: 5 / 1 / 7 / 2; }
.box5 { grid-area: 5 / 2 / 7 / 3; }
.box6 { grid-area: 7 / 1 / 9 / 3; }
}